/* #content {
    height: 90%;
} */

#main_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
}

#main_text {
    position: absolute;
    width: 100%;
    top: 45%;
    font-size: 8em;
    background-color: rgba(0, 0, 0, 0.800);
}